<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <script src="https://kit.fontawesome.com/e3720ac348.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body class="home">
  <header></header>
  <main></main>
  <footer class="footer">
    <div class="footer__articles__withIcons">
    <article class="footer__article">
      <i class="fa-solid fa-credit-card logo"></i>
      <h3 class="titular">Pagá con tarjeta o en efectivo</h3>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </article>
    <article class="footer__article">
      <i class="fa-solid fa-gift logo"></i>
      <h3 class="titular">Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </article>

    <article class="footer__article">
      <i class="fa-solid fa-user-shield logo"></i>
      <h3 class=""><b>Seguridad, de principio a fin</b></h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </article>
  </div>
    <article class="footer__article">
      <br />
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>
  </footer>
</body>

</html>