body {
    background-color:#EAC926;
    font-family: var(--tipografia);
    box-sizing: border-box;
    margin: 0
    
}

/*----------------------------- Estilos para Footer*/

.footer{
    
    padding: 10px;
    background-color: white;
  
}
.footer__article{
    text-align: center;
    align-items: center;
    margin: 4%;
}
.footer__article h3{
    color: #666
}
.footer__article p {
    color: #666
}
.footer__article i.logo{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3

}
.footer__article i.logo:hover{
   color:  #39b54a;
}
@media screen and (min-width: 769px) {
.footer__articles__withIcons{
    display: flex
}
}