body.home{
    background-color:#EAC926;
    font-family: var(--tipografia);
    box-sizing: border-box;
    
}
.article_price-discount{
    display: flex;
    justify-content: space-between;
}
main section article i{
    display:block;
    font-size:16px;
    padding: 5px;
    width: 30px;
    height:30px; 
    border: 1px  solid #39b54a; 
    background-color:  #FFF;
    border-radius:50%;
    position: absolute;
    right: 20px; 
    top: -15px;
    color: #39b54a;
} 
.home__main {
    align-self: center;
    background-color:#ebebeb;
    margin: 0 auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
   
 }
 .home__main__section{
    width: 100%;
 }
 

 .main_section_article--producto  {
   background-color: white;
   margin-bottom: 10px;
   box-sizing: border-box;
   height: 100%;
   width: 100%;
   display: block;

 }

 .main_section_article--producto img{
    margin:auto;
    width: 100%
  
  }
 .main__section__article--description {
 
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
 
  }

  
  /*----------------------------- Estilos para Productos*/

h2.titular{
    font-size: 24px;
    margin:3%;
    color: #666;
    
}

.main_section_article--producto p.precio {
    font-size: 18px;
    width: 30%
}
.main_section_article--producto p.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}
.main_section_article--inside-descripcion{
    font-size: 16px;
    display: none;
    
}

/*----------------------------- Estilos para Nav*/
.home__header{
    width: 100%;
    padding: 2%;
}
.home__header__banner-logo--container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home__header__saludoInicial{
    text-align: center;
}
.home__header .burger-menu{
    width: 100%;
    height: auto;
    margin-top: 5%;

}
.home__header .iconContainer--burgerMenu{
    
    display: flex;
    margin: 0 auto;
    width: 10%;
    background-color: #1259c3;
    border-radius: 5px;
    
    align-items: center;
    justify-content: center;

}
.home__header .burger-menu i{

    margin: 5%;
    color:white

}
.home__header__nav {
   
   
    display: none;
}
.home__header__nav ul{
    width: 100%;
    justify-content: space-between;
    display: flex;
    
    flex-wrap: nowrap;
    flex-direction: row;
    
}
.home__header__nav ul li {
    list-style: none;
    font-size: 12px;
}

.home__header__banner--top{
  width: 50%;
}
.home__header__banner--bottom{
   
    width: 100%;
    display: block;
    margin: 0;
    border-style: none
  }
  .header__header__top-container{
    display: flex;
    margin-bottom: 2%;
    flex-wrap: wrap;
  }
  .home__header__search--container{
    display: flex;
    flex-direction: row;
    width: 50%;
  }
.home__header__searchBar{
   width: 90%;
   margin-right: 0;
   border-style: none;
   border-radius: 5%;
   

}

.home_header{
    letter-spacing:0;
    background-color: #39b54a;
}


/*----------------------------- Estilos para Footer*/



.footer{
    
    padding: 10px;
    background-color: white;
  
}
.footer__article{
    text-align: center;
    align-items: center;
    margin: 4%;
}
.footer__article h3{
    color: #666
}
.footer__article p {
    color: #666
}
.footer__article i.logo{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3

}
.footer__article i.logo:hover{
   color:  #39b54a;
}

@media screen and (min-width: 361px) {
   
    .main_section_article--producto p.descripcion{
       display: contents;
    }
    
    .main_section_article--inside-descripcion{
        display: contents;

    }
    
  
    .main_section_article--producto  {
        width: 49%;
      
    }
    .main_section_article--producto:hover {
     
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home__header__banner--top {
        width: 33.33%;
        margin-right: 2px;
    }
    
    .header__header__top-container{
       flex-wrap: nowrap;
       align-items: center;
    }
    .home__header__search--container {
      
         width: 33%
    }
    .home__header__saludoInicial {
       
        width: 33.3%;
    }
   
      .home__header__nav  {
        margin-top: 2%;
        width: 100%;
        display: flex;
        gap: inherit;
    
        align-items: flex-end;
        flex-direction: row;
      
    }
    .home__header__nav ul {
       justify-content: space-around;
        margin-top: 1%;
     }
    .burger-menu{
        display: none;
    }
    .home__main__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
    
  }

  @media screen and (min-width: 769px) {
    .footer__articles__withIcons{
        display: flex
    }
    .main_section_article--producto i:hover{
        animation: rotateIcon 0.6s ;
    }
      
      @keyframes rotateIcon {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(-90deg);
        }
        100% {
            transform: rotate(0deg);
          }
      }
      
      
    
    .main__section__article--description h4{
        display: none
   }
   .main_section_article--producto:hover h4 {
    display: block
}
   
   
    .home__header__nav {
        display: flex;
       gap: inherit;
     }
     .home__header__nav ul  {
       justify-content: space-evenly;
        margin-bottom: 1%;
     }
     .burger-menu{
         display: none;
     }
     .home__main__section{
        display: flex;
        flex-wrap: nowrap;
        gap: 1%;
        justify-content: space-between;
     }
    
 
  }

  