body.login{
    background-color:#EAC926;
    font-family: var(--tipografia);
    box-sizing: border-box;
    
}
.login__main{
    background-color: #666;
    background-color:#ebebeb;
    align-self: center;
    
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.register__main__form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.register__main__form input{
    align-self: center;
    width: 70%; 
    display: flex;
  
    justify-content: center;
    align-items: stretch;
}
.register__main__form input::placeholder {
    text-align: center; 
    text-indent: 20px;
   
    opacity: 0.5;
    color: #666;
}
.register__form__profiles{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.register__form__userProfile{
    display: flex;
    margin-top: 9%;

}
.register__main_form__userphoto{
    align-items: center;
    align-self: center;
}
.register__main_form__userphoto input{
    width: 100%;
}
.register__main_form--text-center{
    text-align: center;
}
.register__form__userProfile-column{
    display: flex;
    flex-direction: column;
    
}
.register__form__checkbox-label--container{
    display: flex;
    flex-direction: row-reverse;
}
/*----------------------------- Estilos para Nav*/
.home__header{
    width: 100%;
    
}
.home__header__banner-logo--container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.home__header__saludoInicial{
    text-align: center;
}
.home__header .burger-menu{
    width: 100%;
    height: auto;
    margin-top: 5%;

}
.home__header .iconContainer--burgerMenu{
    
   margin: 0 auto;
   width: 10%;
   background-color:  #1259c3;
   border-radius: 10%;
   text-align: center;

}
.home__header .burger-menu i{

    margin: 5%;
    color:white

}
.home__header__nav {
   
   
    display: none;
}
.home__header__nav ul{
    width: 100%;
    justify-content: space-between;
    display: flex;
    
    flex-wrap: nowrap;
    flex-direction: row;
    
}
.home__header__nav ul li {
    list-style: none;
    font-size: 12px;
}

.home__header__banner--top{
  width: 50%;
}
.home__header__banner--bottom{
   
    width: 100%;
    display: block;
    margin: 0;
    border-style: none
  }
  .header__header__top-container{
    display: flex;
   
    flex-wrap: wrap;
    padding: 3%;
  }
  .home__header__search--container{
    display: flex;
    flex-direction: row;
    width: 50%;
  }
.home__header__searchBar{
   width: 90%;
   margin-right: 0;
   border-style: none;
   border-radius: 5%;
   

}

.home_header{
    letter-spacing:0;
    background-color: #39b54a;
}

body{
    background-color:#EAC926;
    font-family: var(--tipografia);
    box-sizing: border-box;
    margin: 0
    
}


.footer{
    
    padding: 10px;
    background-color: white;
  
}
.footer__article{
    text-align: center;
    align-items: center;
    margin: 4%;
}
.footer__article h3{
    color: #666
}
.footer__article p {
    color: #666
}
.footer__article i.logo{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3

}
.footer__article i.logo:hover{
   color:  #39b54a;
}



@media screen and (min-width: 361px) {
    .register__form__profiles{
      
        flex-direction: row;
    }
    .home__header__banner--top {
        width: 33.33%;
        margin-right: 2px;
    }
    
    .header__header__top-container{
       flex-wrap: nowrap;
       align-items: center;
    }
    .home__header__search--container {
      
         width: 33%
    }
    .home__header__saludoInicial {
       
        width: 33.3%;
    }
   
      .home__header__nav  {
       
        width: 100%;
        display: flex;
        gap: inherit;
    
        align-items: flex-end;
        flex-direction: row;
      
    }
    .home__header__nav ul {
       justify-content: space-around;
        margin-top: 1%;
     }
    .burger-menu{
        display: none;
    }
    
  }

  @media screen and (min-width: 769px) {
    .footer__articles__withIcons{
        display: flex
    }
    .home__header__nav {
        display: flex;
       gap: inherit;
     }
     .home__header__nav ul  {
       justify-content: space-evenly;
        margin-bottom: 1%;
     }
     .burger-menu{
         display: none;
     }

  }

  